 feature/wichcard
{ feature/wichcard
    "trailingComma": "es5",
    "tabWidth": 3,
    "semi": false,
    "singleQuote": true,
    "endOfLine": "auto"
}
=======
=======
{
 development
   "trailingComma": "es5",
   "tabWidth": 3,
   "semi": false,
   "singleQuote": true,
   "endOfLine": "auto"
}
 feature/wichcard
 development
=======
 development
