{ feature/wichcard
    "trailingComma": "es5",
    "tabWidth": 3,
    "semi": false,
    "singleQuote": true,
    "endOfLine": "auto"
}
=======
   "trailingComma": "es5",
   "tabWidth": 3,
   "semi": false,
   "singleQuote": true,
   "endOfLine": "auto"
}
 development
